body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.project-dates {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #888;
}

.project-period,
.task-dates {
  display: flex;
  gap: 10px;
}

.message-container.received {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-align: left;
  align-self: flex-start;
  margin-right: auto;
  max-width: 50%;
}

.message-container.received .message-content {
  background-color: #c2bdbd;
  border-radius: 0 10px 10px 10px;
  padding: 12px 12px;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-left: 5px;
  margin-right: 25px;
  max-width: 100%;
}

.message-container.sent {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  text-align: left;
  align-self: flex-end;
  margin-left: auto;
  max-width: 50%;
}

.message-container.sent .message-content {
  background-color: #d4f1c5;
  border-radius: 10px 0 10px 10px;
  padding: 12px 12px;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-right: 25px;
  margin-left: 5px;
  max-width: 100%;
}

.message-content {
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  max-width: 70%;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1400px;
  height: 52%; /* Ajuste la hauteur pour utiliser tout l'espace disponible */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 80px; /* Ajoute un espace en haut pour éviter que le conteneur soit caché par la navbar */
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }
}
.delete-task-btn {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-left: 10px;
}
.task-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.task-stats canvas {
  max-width: 100px;
  max-height: 100px;
  margin: 0 10px; /* Ajoute un espace entre les graphiques */
}

.chart-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto; /* Centre les graphiques horizontalement */
}

.chart-label {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.delete-task-btn:hover {
  color: darkred;
}
.container {
  flex: 1;
  padding: 7px;
  text-align: center;
}

.chat-container {
  flex: 1;
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .chat-container {
    border-top: none;
    border-left: 1px solid #ddd;
  }
}

h1, h2 {
  color: #333;
  margin-bottom: 20px;
}

.user-list,
.invite-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-list li,
.invite-list li {
  background-color: #f4f4f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-actions,
.invite-actions {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.invite {
  background-color: #007BFF;
}

.invite:hover {
  background-color: #0056b3;
}

.promote {
  background-color: #4CAF50;
}

.promote:hover {
  background-color: #388E3C;
}

.demote {
  background-color: #FFC107;
}

.demote:hover {
  background-color: #FFA000;
}

.delete {
  background-color: #e53935;
}

.delete:hover {
  background-color: #c62828;
}

.back-button {
  margin-top: 20px;
  background-color: #e53935;
}

.back-button:hover {
  background-color: #c62828;
}

/* Styles pour le modal */
.modal {
  display: none; /* Masqué par défaut */
  position: fixed; /* Reste en place même lors du défilement */
  z-index: 1; /* Au-dessus de tout autre contenu */
  left: 0;
  top: 0;
  width: 100%; /* Largeur complète */
  height: 100%; /* Hauteur complète */
  overflow: auto; /* Activer le défilement si nécessaire */
  background-color: rgb(0,0,0); /* Couleur de fond */
  background-color: rgba(0,0,0,0.4); /* Couleur de fond avec opacité */
  padding-top: 60px; /* Espacement en haut */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  max-height: 80vh; /* Fixe la hauteur maximale de la modal */
  overflow-y: auto; /* Ajoute une barre de défilement verticale */
}

.invite-list-container {
  max-height: 60vh; /* Fixe la hauteur maximale de la liste */
  overflow-y: auto; /* Ajoute une barre de défilement verticale */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content textarea,
.modal-content select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-content button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.user-role {
  margin-left: 10px;
  font-style: italic;
  color: #888;
}

.chat-box {
  flex-grow: 1;
  height: 250px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.chat-input {
  display: flex;
  margin-top: 10px;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.chat-input button {
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}


.task {
  display: inline-block; /* Affiche les tâches en ligne */
  padding: 5px 20px; /* Réduit le padding */
  position: relative;
  background-color: inherit;
  width: auto; /* Ajuste la largeur automatiquement */
}

.content {
  padding: 5px 10px; /* Réduit le padding */
  background-color: white;
  position: relative;
  border-radius: 6px;
  display: inline-block;
  text-align: left;
  white-space: normal; /* Permet le retour à la ligne pour le texte */
}

.content span {
  font-size: 12px; /* Réduit la taille de la police */
}

.task span {
  display: block;
  margin-bottom: 3px; /* Réduit la marge */
}

/* Media queries pour les petits écrans */
@media (max-width: 767px) {
  .main-container {
    margin-top: 100px; /* Ajoute un espace en haut pour éviter que le conteneur soit caché par la navbar */
  }

  .chat-box {
    height: 150px; /* Réduit la hauteur de la boîte de chat */
  }

  .chat-input {
    flex-direction: column; /* Affiche le champ de saisie et le bouton d'envoi en colonne */
  }

  .chat-input input {
    border-radius: 5px; /* Ajuste les coins arrondis */
    margin-bottom: 10px; /* Ajoute un espace en bas */
  }

  .chat-input button {
    border-radius: 5px; /* Ajuste les coins arrondis */
  }
}
.timeline-container {
  width: 90%;
  max-width: 1400px;
  display: flex;
  height: auto; /* Ajuste automatiquement la hauteur */
  background-color: white;
  padding-top: 10px; /* Réduit l'espace en haut */
  padding-bottom: 10px; /* Réduit l'espace en bas */
  padding-left: 20px; /* Ajoute de l'espace à gauche */
  padding-right: 20px; /* Ajoute de l'espace à droite */
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  border-radius: 10px;
  overflow-x: auto; /* Ajout de la barre de défilement horizontale */
  white-space: nowrap; /* Empêche le retour à la ligne pour les éléments enfants */
}
.timeline-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  border-right: 1px solid #ddd;
  padding-right: 20px;
}
.timeline-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.timeline-header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.button.invite {
  background-color: #5A45FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.invite:hover {
  background-color: #4a3ae0;
}

.timeline {
  flex: 1;
  margin-right: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 400px; /* Ajustez cette valeur selon vos besoins */
}

.task-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.project-period,
.task-dates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-chart {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.task-chart canvas {
  max-width: 100px;
  max-height: 100px;
}

.chart-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto; /* Centre les graphiques horizontalement */
}

